@background-color: #4a2cb4;
@background-color-light: #5a3ebe;
@background-color-dark: #412c8a;
@select-color: #FFF178;
@text-color: #FFEA2E;
@h1: #FFFFFF;

body {
    background-color: @background-color;
    color: @select-color;
}

h1 {
    color: @h1;
}

button {
    background-color: @text-color;
}

.textbox {
    border-color: @text-color;
}

.dropdown-content {
    background-color: @background-color-light;
}

.dropdown-content a {
    color: @text-color;
}

#login-box,
#signup-box {
    background: @background-color-light;
}