/* Banner */

.now-playing-banner {
    height: 60px;
    background-color: rgba(194, 135, 224, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 7px;
    box-shadow: 5px 1px 300px #000000;
    position: fixed;
    left: 5px;
    right: 5px;
    margin: auto;
}

.now-playing-banner p {
    text-align: left;
    display: inline-block;
}

/* Play button */

.play-button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-sizing: initial;
    padding-left: 15px;
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    opacity: 0.8;
}

.play-button:hover {
    transform: scale(1.25);
}

.play-button:active {
    transform: scale(0.95);
}

// 
// Console Banner
//
#control-panel-nav-bar {
    position: fixed;
    left: 5px;
    right: 5px;
    margin: auto;
}

#control-panel-nav-bar h4 {
    vertical-align: middle;
    margin: 15px;
    text-align: left;
    float: left;
}

#control-panel-nav-bar-title {
    text-align: initial;
    float: initial;
    margin-left: auto; 
    margin-right: auto;
}

#banner-user-img {
    background-image: none;
}