#console-create-playlist-table {
    width: 100%;
    height: auto;
    padding: 10px;
}

#console-create-playlist-table,
#console-create-playlist-table th,
#console-create-playlist-table td {
    border: 1px solid black;
}