body {
  background-color: #000;
  color: #ff7878;
}
h1 {
  color: #FFFFFF;
}
button {
  background-color: #ff2e2e;
}
#login-box .textbox::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ff2e2e;
}
#login-box .textbox:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ff2e2e;
}
#login-box .textbox::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ff2e2e;
}
.textbox {
  background-color: #2c7f8a;
}
.dropdown-content {
  background-color: #5a3ebe;
}
.dropdown-content a {
  color: #ff2e2e;
}
#login-box,
#signup-box {
  background: #5a3ebe;
}
.back-button {
  background-image: url('../img/back.png');
}
.play-button {
  background-image: url('../img/play_dark_mode.png');
}
#user-login-dropdown-back-button,
#banner-user-img {
  background-image: url('../img/person_dark_mode.png');
}
