body {
  background-color: #000;
  color: #ff7878;
}
h1 {
  color: #FFFFFF;
}
button {
  background-color: #ff2e2e;
}
.textbox {
  background-color: #2c7f8a;
}
#login-box .textbox::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ff2e2e;
}
.dropdown-content {
  background-color: #5a3ebe;
}
.dropdown-content a {
  color: #ff2e2e;
}
#login-box,
#signup-box {
  background: #5a3ebe;
}
.play-button {
  content: url('../img/play_dark_mode.png');
}
#banner-user-img {
  content: url('../img/person_dark_mode.png');
}
