body {
  background-color: #A8577E;
  color: #FFC145;
}
h1 {
  color: #FFFFFF;
}
button {
  background-color: #FFC145;
}
#login-box .textbox::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFC145;
}
#login-box .textbox:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #FFC145;
}
#login-box .textbox::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #FFC145;
}
.dropdown-content {
  background-color: #c07599;
}
.dropdown-content a {
  color: #FFC145;
}
#login-box,
#signup-box {
  background: #c07599;
}
.back-button {
  background-image: url('../img/back.png');
}
.play-button {
  background-image: url('../img/play.png');
}
#user-login-dropdown-back-button,
#banner-user-img {
  background-image: url('../img/person.png');
}
